form ul 	{ list-style: none; margin: 0; padding: 0; }

/*label       { font-weight: bold; }
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; }


input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  background-color:#fff;
  border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border-color:#666;
}

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0.5em 0;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

input[type=checkbox], input[type=radio],
input.checkbox, input.radio {
  position:relative; top:.25em;
}
*/

/* general form */

/*div.message {
	float: left;
	color: #777;
	}
div.message h2 {
	margin: 0 0 4px 0;
	font-size: 1.2em;
	}
div.message p {
	font-size: 1.2em;
	}*/

form 								{ margin: 20px 0 0 0; }
form ul li							{ margin: 0; padding: 10px 0; /*border-bottom: 1px solid #ddd;*/ }
/*form.with-messages fieldset 		{ margin: 0; padding: 0; border-bottom: none; }*/
form ul li.last						{ border: none; }
form label			 				{ display: block; float: left; width: 170px; margin: .7em 20px 2px 0; font-size: 1em; line-height: 1.5em; font-weight: normal; text-align: right; }
form label span 					{ margin-right: 10px; font-size: .8em; font-weight: normal; color: #777; }
form label.remember 				{ display: inline; font-size: 1.2em; font-weight: normal; }
form p.message 						{ margin: 3px 0 0 250px; font-size: .8em; line-height: 1.5em; color: #999; }
form p.message strong 				{ font-weight: bold; color: #666; }
form fieldset.check 				{ float: left; margin: 0 0 0 20px; padding: 0; border: none; }
form fieldset.check input 			{ vertical-align: middle; margin-right: 5px; }
form fieldset.check label 			{ width: auto; font-size: .8em; }

form fieldset input.text	 		{ width: 300px; padding: 5px 8px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.4em; color: #333; border-top: 1px solid #e1e1e1; border-left: none; border-bottom: 1px solid #fff;
border-right: 1px solid #fff; background: #f1f1f1 url("") repeat-x top left; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

form fieldset textarea 				{ width: 400px; height: 100px; padding: 5px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.2em; color: #333; border-top: 1px solid #c3c3c3; border-left: none; border-bottom: 1px solid #fff; border-right: 1px solid #fff; background: #f1f1f1 url("") repeat-x top left; -webkit-border-radius: 5px; 	-moz-border-radius: 5px; border-radius: 5px; }

form fieldset input.text:focus,
form fieldset textarea:focus 		{ border-top-color: #ddd; background: #d0eeff; outline-width: 0; }
form ul li.submit			 		{ padding: 10px 0 0 190px; }
form input.signin		 			{ float: left; } 

/* form buttons */

.form-sub,
a.form-sub,
div.comment-body form.comment button[type="submit"] {
	padding: 7px 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .9em;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	border: none;
	background: #ea4c88 url(/images/glass-light.png) repeat-x 0 50%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	}
.form-sub:hover,
.form-sub:focus,
a.form-sub:hover,
a.form-sub:focus,
div.comment-body form.comment button[type="submit"]:hover,
div.comment-body form.comment button[type="submit"]:focus {
	text-decoration: none;
	background-color: #df3e7b;
	}
.form-sub:active,
a.form-sub:active,
div.comment-body form.comment button[type="submit"]:active {
	text-decoration: none;
	background-color: #c22b65;
	}
.form-btn,
a.form-btn,
div.comment-body form.comment button[type="cancel"] {
	padding: 7px 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .9em;
	font-weight: bold;
	text-decoration: none;
	color: #666 !important;
	border: none;
	background: #d3d3d3 url(/images/glass-30.png) repeat-x 0 50%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	}
.form-btn:hover,
.form-btn:focus,
a.form-btn:hover,
a.form-btn:focus,
div.comment-body form.comment button[type="cancel"]:hover,
div.comment-body form.comment button[type="cancel"]:focus {
	text-decoration: none;
	background-color: #ccc;
	}
.form-btn:active,
a.form-btn:active,
div.comment-body form.comment button[type="cancel"]:active {
	text-decoration: none;
	background-color: #b9b9b9;
	}











