<h1>Products being watched</h1>

<ul>
	<li><a href="#">Get the title from the title tag?</a><br />
		price = $120</li>
	<li><a href="">blah</a><br />
		price = $120</li>
	<li><a href="">blah</a><br />
		price = $120</li>
</ul>



<%# @pages.each do |page| %>
	<%#=h page.title %>
    <%#= link_to 'Show', page %>
    <%#= link_to 'Edit', edit_page_path(page) %>
    <%#= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %>
<%# end %>

<%#= link_to 'New page', new_page_path %>