<div class="footer">
	<div class="container">
		<div class="span-24">
			
			<!-- <ul class="nav">
				<li><%#= link_to("About Us", about_path) %></li>
				<li><%#= link_to("Tour", tour_path) %></li>
				<li><%#= link_to("Help", help_path) %></li>
				<li><%#= link_to("Contact Us", contact_path) %></li>
			</ul> -->
						
		</div>
	</div>
</div>